<div class="navbar">
    <ul>
        <li>
            <form action="/user" method="get">
				<input type="submit" value="Users">
			</form>
        </li>
        <li>
            <form action="/category/add" method="get">
				<input type="submit" value="Product Categories">
			</form>
        </li>
        <li>
            <form action="/product/add" method="get">
				<input type="submit" value="Products">
			</form>
        </li>
        <li>
            <form action="/auth/logout" method="post">
				<input type="submit" value="Logout">
			</form>
        </li>
    </ul>
</div>