<div class="navbar">
    <ul>
        <li>
            <form action="/category/add" method="get">
				<input type="submit" class="enter categories" value="Categories">
			</form>
        </li>
        <li>
            <form action="/product/add" method="get">
				<input type="submit" class="enter products" value="Products">
			</form>
        </li>
        <li>
            <form action="/user" method="get">
				<input type="submit" class="enter users" value="Users">
			</form>
        </li>
    </ul>
</div>