<div class="sidebar">
    <h1>INVENTORY TRACKER</h1>
    <h2>Hello!</h2>
    <!-- ADD USER PHOTO -->
    <!-- ADD USERNAME -->
    <ul>
        <li>
            <form action="/_/view" method="post">
				<input type="submit" class="enter" value="View">
			</form>
        </li>
        <li>
            <form action="/_/add" method="post">
				<input type="submit" class="enter" value="Add">
			</form>
        </li>
        <!-- <li>
            <form action="/_/update" method="post">
				<input type="submit" class="enter" value="Update">
			</form>
        </li> -->
        <!-- <li>
            <form action="/_/delete" method="post">
				<input type="submit" class="enter" value="Delete">
			</form>
        </li> -->
        <li>
            <form action="/auth/logout" method="post">
				<input type="submit"  class="enter logout" value="Logout">
			</form>
        </li>
    </ul>
</div>