<div class="sidebar">
    <h1>INVENTORY TRACKER</h1>
    <h2>Hello!</h2>
    
    <!-- EDIT TO ADD ADD, DELETE, UPDATE-->
    <!-- ADD BACK BUTTON-->
    <ul>
        
        <li>
            <form action="/auth/logout" method="post">
				<input type="submit" value="Logout">
			</form>
        </li>
    </ul>
</div>