.sidebar{
  padding: 15px 15px 0 15px;
  /* background-color: #560BAD; */
  overflow: hidden;
  left: 0;
  height: 100%;
  width: 200px;
  text-align: center;
  position: fixed;
  /* box-shadow: 0 0 30px #560BAD;
  color: white; */
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

li{
  list-style-type: none;
}
  
li form {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}