<!--create an input form to generate a new product into the database-->

<html>
	<head>
		<title>Add Product</title>
	</head>
	<body>
		<h1>Add Product</h1>
		<form action="/product/add" method="POST">

			<label for="name">Product</label>
			<input type="text" name="name" id="name">

			<label for="brand">Brand</label>
			<input type="text" name="brand" id="brand">

			<label for="description">Description</label>
			<input type="text" name="description" id="description">
			
			<label for="stock">On-hand stock</label>
			<input type="number" name="stock" id="stock">

			<label for="sell_price">sell price</label>
			<input type="number" name="price" id="price">

			<label for ="category">Category</label>
			<select name="category" id="category">
				<%
					for (var i = 0; i < categories.length; i++){
						%>
						<option value="<%=categories[i].category_ID%>">
							<%=categories[i].name%>
						</option>
						<%
					}
				%>
			</select>

			<br />
			<input type="submit" value="Submit">
		</form>

		<br />
		<form action="/" method="GET">
			<input type="submit" value="Back">
		</form>

	</body>
</html>
