<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Updte Category</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<!-- <%- include("./partials/navbar.ejs") %> -->
		<%- include("./partials/sidecategory.ejs") %>
		<div class="container page">
			<h1>Update Category</h1>
			<form action="/" method="POST">
				<label for="category">Category Name</label>
				<input type="text" name="name" id="name" placeholder="<%= category %>">
				<input type="submit" class="enter add" value="Add Category">
			</form>
		</div>
		
	</body>
</html>