<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/index.css">
	</head>

	<body>
		<%- include("./partials/sidebar.ejs") %>
		<div class="container">
			<h1>Hello, <%= name %>!</h1>
			<form action="/auth/logout" method="post">
				<input type="submit" value="Logout">
			</form>
			<form action="/user" method="get">
				<input type="submit" value="Users">
			</form>

			<form action="/category/add" method="get">
				<input type="submit" value="Product Categories">
			</form>

			<form action="/product/add" method="get">
				<input type="submit" value="Products">
			</form>
		</div>
	</body>
</html>