<html>
	<head>
		<title>message</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body class="container">
		<!-- <img src="/images/error.png"> -->
		<!-- <h1 id="text">ERROR</h1> -->
		<%=message%>
		<form action="/" method="GET">
			<input type="submit" class="submit" value="Go Back">
		</form>
	</body>
</html>