<html>
	<head>
		<title>message</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/message.css">
	</head>
	<body class="container">
		<img src="/public/error.png">
		<h1 id="text">ERROR</h1>
		<%=message%>
		<form action="/" method="GET">
			<input type="submit" value="Go Back">
		</form>
	</body>
</html>