<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Users</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/viewuser.css">
	</head>
	<body>
		<%- include("./partials/navbar.ejs") %>
		<%- include("./partials/sidebar.ejs") %>
		<div class="container page">
            <table>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Date Created</th>
                </tr>
                <!-- INSERT LOOP THAT ADDS A ROW OF USER INFO -->
                <!-- sample of row -->
                <tr>
                    <td>NAME</td>
                    <td>EMAIL</td>
                    <td>DATE</td>
                </tr>
            </table>
		</div>
	</body>
</html>